

/* --- HEADER --- */
.cabecalho-principal {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icone-sup {
  height: 80px;
  width: auto;
}

.icone-sup:hover {
  opacity: 0.5;
}

.redes-topo {
  display: flex;
  gap: 1.5rem;
}

.redes-topo i {
  font-size: 2.5rem;
  color: white;
  transition: color 0.3s ease;
}

.redes-topo i:hover {
  opacity: 0.5;
}

/* --- ESTILOS GERAIS DE PÁGINAS  */
.main-section {
  width: 95vw;
  margin: var(--spacing-md) auto;
  padding: var(--spacing-xl) var(--spacing-xxl);
  background-color: #ffffff94;
  border-radius: var(--border-radius-md);
  box-shadow: 13px 10px 20px 3px var(--shadow-color);
  color: var(--primary-color);
  z-index: 1;
  position: relative;
}

.main-section h1,
.main-section h2 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-lg);
  color: var(--primary-color);
  text-align: right;
}

.main-section p,
.main-section ul {
  font-size: var(--font-size-base);
  line-height: 1.7;
  color: var(--text-color);
}

/* --- MEDIA QUERIES (Responsividade) --- */
/* Unificando todos os media queries aqui, do maior para o menor */

@media (max-width: 785px) {
  .main-section {
    padding: var(--spacing-xl) var(--spacing-md);
    width: 94vw;
  }

  .main-section h1,
  .main-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .main-section p,
  .main-section ul {
    font-size: 0.9rem;
    text-align: justify;
  }

}

@media (max-width: 480px) {
  .icone-sup {
    height: 40px;
  }

  .redes-topo i {
    font-size: 1.5rem;
  }

}