.foto-familia {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}


#bio-pessoal {
    display: block;
    align-items: center;
    gap: 2rem;
    
}

ul {
    list-style: none;
    padding: 0 auto;
    text-align: left;
}

ul li::before {
    content: "✔ ";
    color: var(--accent-color);
    margin-right: var(--spacing-sm);
}

ul .sub-list-item::before {
    content: "↪ ";
    color: var(--primary-color);
    margin-right: var(--spacing-sm);
}


@media (max-width: 768px) {
    #bio-pessoal {
        flex-direction: column;
    }
}