.carousel-item {
  height: 600px;
}

.carousel-item img {
  height: 100%;
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
  height: 38rem;
  max-width: 100%;
  justify-self: center;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(163, 163, 163, 0.555);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 4px #aba6a645;
}

.carousel {
  background-color: #a09e9e18;
}

@media (max-width:798px) {
  .carousel-item img {
    height: 15rem;
  }

  .carousel-inner {
    max-height: 270px;
  }
}